@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes move-gradient {
  0% { transform: translate(20%, -10%) scale(1.5); }
  25% { transform: translate(-30%, 20%) scale(1.2); }
  50% { transform: translate(20%, 40%) scale(1.8); }
  75% { transform: translate(40%, -20%) scale(1.4); }
  100% { transform: translate(20%, -10%) scale(1.5); }
}